.wrap {
  position: relative;
  height: 100vh;
  width: 100%;
}
.color-block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  margin: auto;
}

.color-block--hex {
  transform: translateY(-200%);
}
